<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:property-placeholder location="classpath*:spring-*.properties" ignore-unresolvable="true" file-encoding="UTF-8"/>
    <context:component-scan base-package="com.doubao"/>

    <!-- 如下实现是通过线程池执行的     任务注解-->
    <task:executor id="executor" pool-size="2" />
    <task:scheduler id="scheduler" pool-size="2" />
    <task:annotation-driven scheduler="scheduler"
                            executor="executor" proxy-target-class="true" />


    <!-- spring工具类 方便在非spring管理环境中获取bean -->
    <bean id="springUtils" class="com.doubao.utils.SpringUtils" />
</beans>